
@media (min-width: 576px)
{.form-inline .form-control {

    display: inline-block;
    width: 405px!important;
    vertical-align: middle;
}
}

.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-indicators li{
    background-color:white;
}
.carousel-indicators .active{
    background-color:#ff136f ;
}
.home-area{
   padding: 50px 0;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
button.buy-now-btn {
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff136f 100%);
    border: none;
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
button.buy-now-btn i {
    padding-left: 10px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius:10px ;
}
.cat1{
    background-image: linear-gradient(120deg, #ff911f, #fdcd11);
}
.cat2{
    background-image: linear-gradient(120deg, #fb65a0, #f71871);
}
.cat3{
    background-image: linear-gradient(120deg, #5994fb, #270eff);
}

.catagories h1{
    color: white;
}
.catagories{
    padding: 30px 0;

}
.catagories img{
width: 100px;
}
.container h1{
    padding-top: 50px;
}